.App {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
}

.isActive{
  font-weight: bold;
  color:white;
  text-decoration: none
}

.header {
  text-decoration: none;
  margin: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  color: white;
  text-shadow: 3px 3px #180404;
  font-size: 30px;
  background-image: url("/src/cork_background.jpeg");
  
}

#header-text {
  text-decoration: none;
  color: white;
  text-shadow: 3px 3px #180404;
  font-size: 50px;
}

.btn {
  font-weight: bold;
  width: 10rem;
  height: 35px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  color:white;
  background-color: rgb(116, 22, 22);
  border-radius: 1rem;
  text-decoration: none;
}

.search {
  width: 300px;
  height: 25px;
  border-radius: 2rem;
  text-align: center;
  text-decoration: none;
}


.nav {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
  padding: 20px;
  background-color: rgb(236, 182, 182);
  border-radius: 2rem;
  text-decoration: none;
}

.nav2 {
  text-decoration: none;
  color: white;
}

.wine-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  gap: 5px;
  border: 1px solid rgb(92, 21, 21);
  border-radius: 2rem;
  background-color: rgb(236, 194, 194);
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
}

.infowine {
  border: 2px solid rgb(116, 62, 62);
  border-radius: 2rem;
  background-color: rgb(252, 246, 246);
  width: 450px;
  height: 450px;
  padding-top: 2rem;
  text-decoration: none;
}

.wine-type {
  color: white;
  background-color: rgb(116, 22, 22);
  margin: 1rem;
  padding: 3px;
  border-radius: 2rem;
  font-size: larger;
  text-decoration: none;
}

.index-page {
  color: white;
  text-align: end;
  margin: 1rem;
  padding: 8rem;
  width: auto;
  height: 420px;
  border-radius: 2rem;
  background-image: url("/src/wine-background.jpg");
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }}